# apt dependecies:
# libevent-dev
# subversion
# swig
# g++
# python-dev


-e svn+http://pybox2d.googlecode.com/svn/trunk/#egg=Box2D
construct==2.06
django==1.4
gevent==0.13.7
South==0.7.5
ws4py==0.2.2
