# apt dependecies:
# libevent-dev
# subversion
# swig
# g++
# python-dev


-e git+git://github.com/ostrovok-team/django-mediagenerator.git@06a1d2164e87cd8f2e6bfe3ed2d613016d2da90a#egg=mediagenerator
-e svn+http://pybox2d.googlecode.com/svn/trunk/#egg=Box2D
construct==2.06
django==1.4
gevent==0.13.7
South==0.7.5
ws4py==0.2.2
