# apt dependecies:
# libevent-dev
# subversion
# swig
# g++
# python-dev


-e git+git://github.com/ostrovok-team/django-mediagenerator.git@eaec90734431c3993b77a8695d5bac70263ded9c#egg=mediagenerator
-e svn+http://pybox2d.googlecode.com/svn/trunk/#egg=Box2D
construct==2.06
django==1.4
gevent==0.13.7
South==0.7.5
ws4py==0.2.2
lxml==4.6.5
