{% load staticfiles media %}
<html>
<head>

	<script type="text/javascript">
        ROCKETZ_WEBSOCKET = "{{ WEBSOCKET }}";
    </script>
    
    {# Content defined at web/settings/media.py #}
    {% include_media 'contrib.js' %}
    {% include_media 'app.js' %}





</head>
<body>
	<div id="workspace" class="workspace"></div>
    <img id="spaceship" width="84", height="84" style="display: none" src="{% media_url 'img/spaceship2-84x84.png' %}"></img>
    <img id="level" style="display: none" src="{% media_url 'img/level01.jpg' %}"></img>
</body>
</html>
